@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
@font-face {
  font-family: "Keep on Truckin";
  src: url("/KeeponTruckin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
